{{ define "header-html" }}
<header>
    <nav class="menu-header">
        <img src="https://netstudiosinc.com/images/nsi-logo.jpg" alt="{{ .SiteName }} Logo" class="hover-pointer" onclick="javascript:window.location.href='/'" style="width: 130px; margin-right: 110px; margin-top: 0px;  float: left;">
        <small style="display:block;float:left;margin-bottom:10px;">
            <a href="/">Jobs</a>&bull;
            <a href="/{{ .SiteJobCategoryURLEncoded }}-Developer-Salary-Remote">Salaries</a>&bull;
            <a href="/Companies-Using-{{ .SiteJobCategoryURLEncoded }}">Companies</a>&bull;
            <a href="/{{ .SiteJobCategoryURLEncoded }}-Developers">Developers</a>
            <br>
        </small>
        <div style="float: right;">
            {{ if .LoggedUser }}
                <a href="/profile/home">Dashboard</a>
            {{ else }}
                <a href="/auth">Login</a>
            {{ end }}
        </div>
        <div style="clear: both;"></div>
    </nav>
  </header>
{{ end }}